*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body, head{
    padding: 0 1.2%;
    margin: 0 auto;
    max-width: 1400px;
}

/*CLASSES AUXILIARES*/

.clear{
    clear: both;
}

/*HEADER*/

header{
    padding: 42px 50px;
}

.logo{
    float: left;
}

header nav.menu li{
    float: right;
    padding: 0 15px;
    display: flex;
}

.logo h2{
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bold;
}

nav.menu-mobile{
    display: none;
    float: right;
}

nav.menu-mobile ul{
    display: none;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 90px;
    z-index: 999;
    text-align: center;
}

nav.menu-mobile li{
    padding: 8px 0;
    border-bottom: solid 2px black;
}

nav.menu-mobile a{
    color: black;
    text-decoration: none;
    display: block;
}

nav.menu-mobile h2{
    cursor: pointer;
}

nav.menu-mobile .selected{
    border-top: solid 2px black;
}

nav.menu-mobile .selected-bk{
    background-color: rgb(225, 225, 225);
}

nav.menu .selected{
    text-decoration: none;
    color: black;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
}

nav.menu a{
    transition: 0.3s;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 5px;
}

nav.menu a:hover{
    transition: 0.3s;
    color: black;
}

/*SECTION MINHA EQUIPE*/

section.minha-equipe{
    background-color: rgba(105,160,215,0.09);
    padding: 85px 150px;
}

.equipe-img{
    width: 50%;
    float: left;
}

.equipe-info{
    width: 50%;
    float: left;
    margin-top: 20px;
}

.equipe-img img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.equipe-info h2{
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 5px;
}

.info-p{
    margin-top: 10px;
    letter-spacing: 3px;
}


/*FOOTER*/

footer{
    background-color: rgba(0, 0, 0, 0);
    margin-top: 16px;
    padding: 50px 105px;
    max-height: 150px;
}

.footer-container{
    float: left;
    width: 50%;
    text-align: center;
}

.footer-container p{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
    padding: 5px;
}

@media screen and (max-width: 1150px){

    .equipe-img{
        width: 100%;
    }
    
    .equipe-info{
        width: 100%;
    }

    section.minha-equipe{
        padding: 85px 50px;
        text-align: center;
    }

}


@media screen and (max-width: 1000px){

    .footer-container{
        width: 100%;
        margin-bottom: 10px;
    }

    footer{
        padding: 10px 105px;
    }

}

@media screen and (max-width: 750px){
    section.seguir .seguir-img{
        padding: 20px;
        background-position: center;
    }

    header{
        padding: 42px 25px;
    }

    header nav li{
        padding: 0 5px;
    

}

@media screen and (max-width: 650px){

    nav.menu-mobile{
        display: block;
    }

    nav.menu{
        display: none;
    }
}